@import "tailwindcss";

@theme{
    --text-md : 15px ;
    --breakpoint-x : 400px;
    --breakpoint-xs : 468px;
    --breakpoint-md : 548px;
    --breakpoint-mmd : 768px;
    --breakpoint-s : 200px;
    --text-x : 10px

}



/* Loader Stayles */

.loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }


  
  /*  */

.style-modalOpen{
  transition: all 0.3s ease ;
}

